* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-size: 20px;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  padding-top: 100px;
}

.card {
  width: calc((100% - 30px) / 4);
  height: 300px;
  transition: transform 400ms;
  transform-origin: 50% 100%;
  position: relative;
  cursor: pointer;
}

.card::after {
  content: '';
  position: absolute;
  top: 96%;
  left: 0;
  right: 0;
  bottom: 5px;
  background: transparent;
  
}

.card-1:hover {
  transform: scaleY(1.2);
}

.card-1:hover::after {
  transition: background 400ms;
  background: hsl(0, 53%, 58%);
}

.card-2:hover {
  transform: scaleY(1.2);
}

.card-2:hover::after {
  transition: background 400ms;
  background: hsl(0, 53%, 58%);
}

.card-3:hover {
  transform: scaleY(1.2);
}

.card-3:hover::after {
  transition: background 400ms;
  background: hsl(0, 53%, 58%);
}

.card-4:hover {
  transform: scaleY(1.2);
}

.card-4:hover::after {
  transition: background 400ms;
  background: hsl(0, 53%, 58%);
}